@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quotation Report";
}
<style>
    .highlight {
        font-weight: bold;
    }

    .dataTables_scrollHeadInner,
    .table {
        width: 100% !important;
    }
</style>
<div class="row p-3">
    <div class="col-md-12 col-xl-12">
        <ul class="nav nav-tabs pl-2 pb-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="report_department-tab" data-toggle="tab" href="#report_department" role="tab" aria-controls="report_department" aria-selected="true"><b>Report Department</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="report_quarter-tab" data-toggle="tab" href="#report_quarter" role="tab" aria-controls="report_quarter" aria-selected="false"><b>Report Quarter</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="report_year-tab" data-toggle="tab" href="#report_year" role="tab" aria-controls="report_year" aria-selected="false"><b>Report Year</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="report_status-tab" data-toggle="tab" href="#report_status" role="tab" aria-controls="report_status" aria-selected="false"><b>Report Status</b></a>
            </li>
        </ul>
    </div>
    <div class="tab-content container-fluid" id="myTabContent">
        <div class="tab-pane fade show active" id="report_department" role="tabpanel" aria-labelledby="home-tab">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title"><b>Quotations Report Department</b></span>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-xl-12">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-8 col-xl-8 pb-3">
                                    <div class="row">
                                        <div class="col-md-2 col-xl-2 pb-3">
                                            <select id="department" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <input type="month" id="month_first" class="form-control" />
                                        </div>
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <input type="month" id="month_last" class="form-control" />
                                        </div>
                                        <div class="col-md-2 col-xl-2 pb-3">
                                            <button type="button" id="btnOK" class="btn btn-primary form-control">OK</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xl-2 pb-3">
                                    <button type="button" id="export_department" class="btn btn-success form-control">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="chkGroup_department" hidden>
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkProject" />
                                            <label>Project</label>
                                        </div>
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkProduct" />
                                            <label>Product</label>
                                        </div>
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkService" />
                                            <label>Service</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkWon" />
                                            <label>Won</label>
                                        </div>
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkLoss" />
                                            <label>Loss</label>
                                        </div>
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkNogo" />
                                            <label>No go</label>
                                        </div>
                                        <div class="col-md-2 col-xl-2">
                                            <input type="checkbox" id="chkPending" />
                                            <label>Pending</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <table id="table_department" class="table table-xl cell-border table-dark  table-bordered display text-center responsive nowrap" style="width:100%">
                                <thead style="color:black">
                                    <tr>
                                        <th rowspan="4" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Department</th>
                                        <th rowspan="4" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Sale Name</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quotation</th>
                                        <th colspan="30" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Description</th>
                                        <th colspan="32" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Status Quotation</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="3" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="3" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th colspan="10" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Project</th>
                                        <th colspan="10" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Product</th>
                                        <th colspan="10" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Service</th>
                                        <th colspan="8" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Won</th>
                                        <th colspan="8" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Loss</th>
                                        <th colspan="8" style="text-align:center;vertical-align:middle;background-color:#2F75B5">No go</th>
                                        <th colspan="8" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Pending</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Won</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Loss</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">No go</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Pending</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Won</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Loss</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">No go</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Pending</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Won</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Loss</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">No go</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Pending</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Service</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Service</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Service</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Service</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>
                                    </tr>

                                    @* <tr>
                                        <th colspan="2" rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Sale</th>
                                        <th colspan="2" rowspan="2" style="text-align:center;vertical-align:middle;background-color:#D9D9D9">Quotation</th>
                                        <th colspan="6" style="text-align:center;background-color:#ACB9CA">Description</th>
                                        <th colspan="6" style="text-align:center;background-color:#D9D9D9">Status Quotation</th>
                                        <th colspan="2" rowspan="2" style="text-align:center;vertical-align:middle;background-color:#2F75B5">Pending</th>
                                        </tr>
                                        <tr>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ACB9CA">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ACB9CA">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ACB9CA">Service</th>
                                        <th colspan="2" style="text-align:center;background-color:#92D050">Won</th>
                                        <th colspan="2" style="text-align:center;background-color:#F4B084">Loss</th>
                                        <th colspan="2" style="text-align:center;background-color:#A9D08E">No go</th>

                                        </tr>
                                        <tr>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Department</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Sale Name</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#D9D9D9">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#D9D9D9">MB</th>
                                        <th style="text-align:center;background-color:#ACB9CA">Quo.</th>
                                        <th style="text-align:center;background-color:#ACB9CA">MB</th>
                                        <th style="text-align:center;background-color:#ACB9CA">Quo.</th>
                                        <th style="text-align:center;background-color:#ACB9CA">MB</th>
                                        <th style="text-align:center;background-color:#ACB9CA">Quo.</th>
                                        <th style="text-align:center;background-color:#ACB9CA">MB</th>
                                        <th style="text-align:center;background-color:#92D050">Quo.</th>
                                        <th style="text-align:center;background-color:#92D050">MB</th>
                                        <th style="text-align:center;background-color:#F4B084">Quo.</th>
                                        <th style="text-align:center;background-color:#F4B084">MB</th>
                                        <th style="text-align:center;background-color:#A9D08E">Quo.</th>
                                        <th style="text-align:center;background-color:#A9D08E">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#2F75B5">MB</th>

                                        </tr>*@
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="report_quarter" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title"><b>Quotations Report Quarter</b></span>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-xl-12">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-6 col-xl-6 pb-3">
                                    <div class="row">
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <select id="quarter_department" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <select id="quarter_year" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3 pb-3">
                                            <button type="button" id="btnquarter_OK" class="btn btn-primary form-control">OK</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xl-2 pb-3">
                                    <button type="button" id="export_quarter" class="btn btn-success form-control">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="chkGroup" hidden>
                            <div class="form-group row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-2">
                                            <input type="checkbox" id="chkQ1" />
                                            <label>Q1</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="checkbox" id="chkQ2" />
                                            <label>Q2</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="checkbox" id="chkQ3" />
                                            <label>Q3</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="checkbox" id="chkQ4" />
                                            <label>Q4</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <table id="table_quarter" class="table-xl cell-border  table-dark  table-bordered display responsive nowrap " style="width:100%">
                                <thead style="color:black;background-color:#2F75B5">
                                    <tr>
                                        <th colspan="2" rowspan="2" style="text-align:center;vertical-align:middle">Sale</th>
                                        <th colspan="8" style="text-align:center;background-color:#EFF5EC">Q1</th>
                                        <th colspan="8" style="text-align:center;background-color:#C7D0C4">Q2</th>
                                        <th colspan="8" style="text-align:center;background-color:#BCD9B2">Q3</th>
                                        <th colspan="8" style="text-align:center;background-color:#ADE3DF">Q4</th>

                                    </tr>
                                    <tr>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#EFF5EC">January</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#EFF5EC">February</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#EFF5EC">March</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#EFF5EC">Total Q1</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#C7D0C4">April</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#C7D0C4">May</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#C7D0C4">June</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#C7D0C4">Total Q2</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#BCD9B2">July</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#BCD9B2">August</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#BCD9B2">September</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#BCD9B2">Total Q3</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ADE3DF">October</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ADE3DF">November</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ADE3DF">December</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#ADE3DF">Total Q4</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">Department</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">Sale Name</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EFF5EC">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#C7D0C4">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#BCD9B2">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">OUT</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">IN</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#ADE3DF">OUT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="report_year" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title"><b>Quotations Report Year</b></span>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-xl-12">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-6 col-xl-6 pb-3">
                                    <div class="row">
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <select id="year_department" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xl-4 pb-3">
                                            <select id="year_year" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3 pb-3">
                                            <button type="button" id="btnyear_OK" class="btn btn-primary form-control">OK</button>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-md-2 col-xl-2 pb-3">
                                    <button type="button" id="export_year" class="btn btn-success form-control">Export</button>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <table id="table_year" class="table-xl cell-border  table-dark  table-bordered display responsive nowrap " style="width:100%">
                                <thead style="color:black;background-color:#2F75B5">
                                    <tr>
                                        <th rowspan="3" style="text-align:center;vertical-align:middle;background-color:#E7E6E6">Area Sale</th>
                                        <th colspan="2" rowspan="2" style="text-align:center;background-color:#CDCDCD">Quotation</th>
                                        <th colspan="6" style="text-align:center;background-color:#75B9E7">Description</th>
                                        <th colspan="8" style="text-align:center;background-color:#CBE5F7">Status Quotation</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Project</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Product</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Service</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#66FFFF">Won</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#66FFFF">Loss</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#66FFFF">NO GO</th>
                                        <th colspan="2" style="text-align:center;vertical-align:middle;background-color:#66FFFF">Pending</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;vertical-align:middle;background-color:#CDCDCD">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#CDCDCD">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#A8D4F2">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">MB</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">Quo.</th>
                                        <th style="text-align:center;vertical-align:middle;background-color:#EEF6FC">MB</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="report_status" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title"><b>Quotations Report Year</b></span>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-xl-12">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-10 col-xl-10 pb-3">
                                    <div class="row">
                                        <div class="col-md-2 col-xl-2 pb-3">
                                            <select id="status_year" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3 pb-3">
                                            <select id="status_department" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3 pb-3">
                                            <select id="status_sale" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xl-3 pb-3">
                                            <button type="button" id="btnstatus_OK" class="btn btn-primary form-control">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <table id="table_status" class="table-xl cell-border  table-dark  table-bordered display responsive nowrap " style="width:100%">
                                <thead style="color:black;background-color:#2F75B5">
                                    <tr>
                                        <th style="text-align:center;vertical-align:middle;background-color:#E7E6E6">No.</th>
                                        <th style="text-align:center;background-color:#CDCDCD">Sale Name</th>
                                        <th style="text-align:center;background-color:#31A1C4">End User</th>
                                        <th style="text-align:center;background-color:#31A1C4">Project Name</th>
                                        <th style="text-align:center;background-color:#CBE5F7">IN (MB)</th>
                                        <th style="text-align:center;background-color:#CBE5F7">OUT (MB)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    var Departments = [];
    var Years = [];
    var Sales = [];
    var columnQ1 = [2,3,4,5,6,7];
    var columnQ2 = [10,11,12,13,14,15];
    var columnQ3 = [18,19,20,21,22,23];
    var columnQ4 = [26,27,28,29,30,31];
    var temp_dataset_quarter = [];
    var hide_column = columnQ1.concat(columnQ2).concat(columnQ3).concat(columnQ4);

    var columnProject = [4,5,6,7,8,9,10,11];
    var columnProduct = [14,15,16,17,18,19,20,21];
    var columnService = [24,25,26,27,28,29,30,31];
    var columnWon = [34,35,36,37,38,39];
    var columnLoss = [42,43,44,45,46,47];
    var columnNogo = [50,51,52,53,54,55];
    var columnPending = [58,59,60,61,62,63];
    var temp_dataset_department = [];
    var hide_column_department = columnProject.
                                    concat(columnProduct).
                                    concat(columnService).
                                    concat(columnWon).
                                    concat(columnLoss).
                                    concat(columnNogo).
                                    concat(columnPending);

        $(document).ready(function () {
            init();
            document.getElementById("table_department").hidden = true;
            document.getElementById("table_quarter").hidden = true;
           });

    $('#btnOK').on('click', function () {
        document.getElementById("table_department").hidden = false;
        document.getElementById("chkGroup_department").hidden = false;
            var department = document.getElementById("department").value;
            var month_first = document.getElementById("month_first").value;
            var month_last = document.getElementById("month_last").value;
               $.ajax({
                   url: '@Url.Action("GetReportDepartment", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                       department, month_first,month_last
                   },
                   success: function (response) {

                       var datas = response;
                       var dataSet = [];
                       for (var i = 0; i < datas.length; i++) {
                           var data = [
                               datas[i].department,
                               datas[i].sale,
                               datas[i].quo_cnt,
                               datas[i].quo_mb, "","","","","","","","",
                               datas[i].project_cnt,
                               datas[i].project_mb,"","","","","","","","",
                               datas[i].product_cnt,
                               datas[i].product_mb,"","","","","","","","",
                               datas[i].service_cnt,
                               datas[i].service_mb,"","","","","","",
                               datas[i].won_quo_cnt,
                               datas[i].won_mb,"","","","","","",
                               datas[i].loss_quo_cnt,
                               datas[i].loss_mb,"","","","","","",
                               datas[i].nogo_quo_cnt,
                               datas[i].nogo_mb,"","","","","","",
                               datas[i].pending_quo_cnt,
                               datas[i].pending_mb];

                           dataSet.push(data);
                       }
                       temp_dataset_department = dataSet;
                       tableDepartment(dataSet);
                   }
               });
           });
    $('#btnquarter_OK').on('click', function () {
        document.getElementById("table_quarter").hidden = false;
        document.getElementById("chkGroup").hidden = false;
            var department = document.getElementById("quarter_department").value;
            var year = document.getElementById("quarter_year").value;
               $.ajax({
                   url: '@Url.Action("GetReportQuarter", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                       department, year
                   },
                   success: function (response) {

                       var datas = response;
                       var dataSet = [];
                       for (var i = 0; i < datas.length; i++) {
                           var data = [
                               datas[i].department,
                               datas[i].sale,
                               datas[i].jan_in,
                               datas[i].jan_out,
                               datas[i].feb_in,
                               datas[i].feb_out,
                               datas[i].mar_in,
                               datas[i].mar_out,
                               datas[i].sum_in_q1,
                               datas[i].sum_out_q1,
                               datas[i].apr_in,
                               datas[i].apr_out,
                               datas[i].may_in,
                               datas[i].may_out,
                               datas[i].jun_in,
                               datas[i].jun_out,
                               datas[i].sum_in_q2,
                               datas[i].sum_out_q2,
                               datas[i].jul_in,
                               datas[i].jul_out,
                               datas[i].aug_in,
                               datas[i].aug_out,
                               datas[i].sep_in,
                               datas[i].sep_out,
                               datas[i].sum_in_q3,
                               datas[i].sum_out_q3,
                               datas[i].oct_in,
                               datas[i].oct_out,
                               datas[i].nov_in,
                               datas[i].nov_out,
                               datas[i].dec_in,
                               datas[i].dec_out,
                               datas[i].sum_in_q4,
                               datas[i].sum_out_q4
                               ];

                           dataSet.push(data);
                       }
                       temp_dataset_quarter = dataSet;
                       tableQuarter(dataSet);
                   }
               });
           });
           $('#export_department').on('click',function(){
               var department = document.getElementById("department").value;
               var month_first = document.getElementById("month_first").value;
               var month_last = document.getElementById("month_last").value;
               location.href = '@Url.Action("DownloadXlsxReportDepartment", "QuotationReport")?department='+department+'&month_first='+month_first+'&month_last='+month_last;
           });
           $('#export_quarter').on('click',function(){
               var department = document.getElementById("quarter_department").value;
               var year = document.getElementById("quarter_year").value;
               location.href = '@Url.Action("DownloadXlsxReportQuarter", "QuotationReport")?department='+department+'&year='+year;
           });
           $('#chkQ1').on('change',function(){
               hide_column_quarter();
           });
            $('#chkQ2').on('change',function(){
               hide_column_quarter();
           });
            $('#chkQ3').on('change',function(){
               hide_column_quarter();
           });
            $('#chkQ4').on('change',function(){
               hide_column_quarter();
           });

           $('#chkProject').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkProduct').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkService').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkWon').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkLoss').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkNogo').on('change',function(){
               hide_columnDepartment();
           });
            $('#chkPending').on('change',function(){
               hide_columnDepartment();
           });


           $('#report_year-tab').on('click',function(){

                $('#year_department').empty();
                var selectQuarterDepartment = document.getElementById('year_department');
                for (var i = 1, l = Departments.length; i < l; i++) {
                    var option = Departments[i];
                    selectQuarterDepartment.options.add(new Option(option.text, option.value, option.selected));
                }
                document.getElementById('year_department').selectedIndex = 0;

                $('#year_year').empty();
                var selectQuarterYear = document.getElementById('year_year');
                for (var i = 0, l = Years.length; i < l; i++) {
                    var option = Years[i];
                    selectQuarterYear.options.add(new Option(option.text, option.value, option.selected));
                }
                document.getElementById('year_year').selectedIndex = 0;
           });

           $('#btnyear_OK').on('click',function(){
               var department = document.getElementById("year_department").value;
               var year = document.getElementById("year_year").value;
               $.ajax({
                   url: '@Url.Action("GetReportYear", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                       department, year
                   },
                   success: function (response) {
                       var datas = response;
                       var dataSet = [];
                       var months = ["","January","February","March","April","May","June","July","August","September","October","November","December"];

                       for (var i = 0; i < datas.length; i++) {
                           var month = datas[i].month;
                           if (i < datas.length-1){
                                month = months[(parseInt(datas[i].month.split("-")[1]))];
                           }
                           var data = [
                               month,
                               datas[i].quo_cnt,
                               datas[i].quo_mb,
                               datas[i].project_cnt,
                               datas[i].project_mb,
                               datas[i].product_cnt,
                               datas[i].product_mb,
                               datas[i].service_cnt,
                               datas[i].service_mb,
                               datas[i].won_quo_cnt,
                               datas[i].won_mb,
                               datas[i].loss_quo_cnt,
                               datas[i].loss_mb,
                               datas[i].nogo_quo_cnt,
                               datas[i].nogo_mb,
                               datas[i].pending_quo_cnt,
                               datas[i].pending_mb];

                           dataSet.push(data);
                       }
                       tableYear(dataSet);
                   }
               });
           });

            $('#report_status-tab').on('click',function(){

                $('#status_department').empty();
                var selectQuarterDepartment = document.getElementById('status_department');
                for (var i = 0, l = Departments.length; i < l; i++) {
                    var option = Departments[i];
                    selectQuarterDepartment.options.add(new Option(option.text, option.value, option.selected));
                }
                document.getElementById('status_department').selectedIndex = 0;

                $('#status_year').empty();
                var selectQuarterYear = document.getElementById('status_year');
                for (var i = 0, l = Years.length; i < l; i++) {
                    var option = Years[i];
                    selectQuarterYear.options.add(new Option(option.text, option.value, option.selected));
                }
                document.getElementById('status_year').selectedIndex = 0;

                $('#status_sale').empty();
                var selectSale = document.getElementById('status_sale');
                selectSale.options.add(new Option("ALL", "ALL", null));
                document.getElementById('status_sale').selectedIndex = 0;
           });

            $('#status_department').on('change',function(){
               var department = document.getElementById("status_department").value;
               $.ajax({
                   url: '@Url.Action("GetSales", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                       department
                   },
                   success: function (response) {
                       Sales = add_sale(response);

                       $('#status_sale').empty();
                        var selectsale = document.getElementById('status_sale');
                        for (var i = 0, l = Sales.length; i < l; i++) {
                            var option = Sales[i];
                            selectsale.options.add(new Option(option.text, option.value, option.selected));
                        }
                        document.getElementById('status_sale').selectedIndex = 0;
                   }
                });
            });

            $('#btnstatus_OK').on('click',function(){
                var year = document.getElementById("status_year").value;
                var department = document.getElementById("status_department").value;
                var sale = document.getElementById("status_sale").value;
               $.ajax({
                   url: '@Url.Action("GetReportStatus", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                       year,department,sale
                   },
                   success: function (response) {
                       var datas = response;
                       var dataSet = [];
                       for (var i = 0; i < datas.length; i++) {
                           var data = [
                               datas[i].no,
                               datas[i].sale_name,
                               datas[i].enduser,
                               datas[i].project_name,
                               datas[i].status_in,
                               datas[i].status_out];

                           dataSet.push(data);
                       }
                       tableStatus(dataSet);
                   }
               });
            });
        function init() {

               $.ajax({
                   url: '@Url.Action("GetDepartment", "QuotationReport")',
                   type: "post",
                   contentType: 'application/x-www-form-urlencoded',
                   data: {
                   },
                   success: function (response) {
                        Departments = add_department(response.departments);
                        Years = add_year(response.years);

                        $('#department').empty();
                        var selectDepartment = document.getElementById('department');
                        for (var i = 0, l = Departments.length; i < l; i++) {
                            var option = Departments[i];
                            selectDepartment.options.add(new Option(option.text, option.value, option.selected));
                        }
                        document.getElementById('department').selectedIndex = 0;

                        $('#quarter_department').empty();
                        var selectQuarterDepartment = document.getElementById('quarter_department');
                        for (var i = 0, l = Departments.length; i < l; i++) {
                            var option = Departments[i];
                            selectQuarterDepartment.options.add(new Option(option.text, option.value, option.selected));
                        }
                        document.getElementById('quarter_department').selectedIndex = 0;

                        $('#quarter_year').empty();
                        var selectQuarterYear = document.getElementById('quarter_year');
                        for (var i = 0, l = Years.length; i < l; i++) {
                            var option = Years[i];
                            selectQuarterYear.options.add(new Option(option.text, option.value, option.selected));
                        }
                        document.getElementById('quarter_year').selectedIndex = 0;
                   }
               });
        };

        var tables_department;
        function tableDepartment(dataSet) {
            setTimeout(()=>{
                if (tables_department !== undefined)
                tables_department.destroy();
            tables_department = $('#table_department').DataTable({
                data: dataSet,
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,16,17],
                        "className": "text-center",
                    },
                    {
                        "targets": hide_column_department,
                        "visible": false,
                        "searchable": false
                    },
                ],
                "createdRow": function (row, data, index) {
                    if (data[0] == "Total") {
                        $('td', row).css('background-color', '#AFA095');
                        $('td', row).addClass('highlight');
                    } else if (data[0] !== "Total" && data[0].includes("Total")) {
                        $('td', row).css('background-color', '#EFE8E2');
                        $('td', row).addClass('highlight');
                    }
                },
                "paging": false,
                "searching": false,
                "bInfo": false,
                "scrollX": true,
                "ordering":false,
            });

            $(tables_department.table().body()).addClass('text-dark');
            },100);
        };
        var tables_quarter;
        function tableQuarter(dataSet) {
            setTimeout(()=>{
                if (tables_quarter !== undefined)
                tables_quarter.destroy();
            tables_quarter = $('#table_quarter').DataTable({
                data: dataSet,
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,30,31,32,33],
                        "className": "text-center",
                    },
                    {
                        "targets": hide_column,
                        "visible": false,
                        "searchable": false
                    },
                ],
                "createdRow": function (row, data, index) {
                    if (data[0] == "Total") {
                        $('td', row).css('background-color', '#AFA095');
                        $('td', row).addClass('highlight');
                    } else if (data[0] !== "Total" && data[0].includes("Total")) {
                        $('td', row).css('background-color', '#EFE8E2');
                        $('td', row).addClass('highlight');
                    }
                },
                "paging": false,
                "searching": false,
                "bInfo": false,
                "scrollX": true,
            });
            $(tables_quarter.table().body()).addClass('text-dark');
            },100);
        };

        var tables_year;
        function tableYear(dataSet) {
            setTimeout(()=>{
                if (tables_year !== undefined)
                tables_year.destroy();
                tables_year = $('#table_year').DataTable({
                data: dataSet,
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16],
                        "className": "text-center",
                    },
                ],
                "createdRow": function (row, data, index) {
                    if (data[0] == "Total") {
                        $('td', row).css('background-color', '#AFA095');
                        $('td', row).addClass('highlight');
                    }
                },
                "paging": false,
                "searching": false,
                "bInfo": false,
                "scrollX": true,
                "ordering": false,
            });
            $(tables_year.table().body()).addClass('text-dark');
            },100);
        };

        var tables_status;
        function tableStatus(dataSet) {
            setTimeout(()=>{
                if (tables_status !== undefined)
                tables_status.destroy();
                tables_status = $('#table_status').DataTable({
                data: dataSet,
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5],
                        "className": "text-center",
                    },
                ],
                "createdRow": function (row, data, index) {
                    if (data[1] == "รวม") {
                        $('td', row).css('background-color', '#AFA095');
                        $('td', row).addClass('highlight');
                    }else if (data[1] !== "Total" && data[1].includes("Total")) {
                        $('td', row).css('background-color', '#EFE8E2');
                        $('td', row).addClass('highlight');
                    }
                },
                "paging": false,
                "searching": false,
                "bInfo": false,
                "scrollX": true,
                "ordering": false,
            });
            $(tables_status.table().body()).addClass('text-dark');
            },100);
        };

        function add_department(departments) {
            var data_departments = [];
            for (var i = 0; i < departments.length; i++) {
                var data =
                {
                    "text": departments[i],
                    "value": departments[i]
                }
                data_departments.push(data);
            }

            return data_departments;
        };
        function add_year(years) {
            var data_years = [];
            for (var i = 0; i < years.length; i++) {
                var data =
                {
                    "text": years[i],
                    "value": years[i]
                }
                data_years.push(data);
            }

            return data_years;
        };

        function add_sale(sales) {
            var data_sales = [];
            for (var i = 0; i < sales.length; i++) {
                var data =
                {
                    "text": sales[i],
                    "value": sales[i]
                }
                data_sales.push(data);
            }

            return data_sales;
        };
        function hide_column_quarter(){
               hide_column = [];
               var chkQ1 = document.getElementById("chkQ1").checked;
               var chkQ2 = document.getElementById("chkQ2").checked;
               var chkQ3 = document.getElementById("chkQ3").checked;
               var chkQ4 = document.getElementById("chkQ4").checked;


               if(chkQ1 == false){
                  hide_column =  hide_column.concat(columnQ1);
               }
               if(chkQ2 == false){
                   hide_column = hide_column.concat(columnQ2);
               }
               if(chkQ3 == false){
                   hide_column = hide_column.concat(columnQ3);
               }
               if(chkQ4 == false){
                  hide_column = hide_column.concat(columnQ4);
               }

               // show column
               tableQuarter(temp_dataset_quarter);
        };

        function hide_columnDepartment(){

            hide_column_department = [];
               var chkProject = document.getElementById("chkProject").checked;
               var chkProduct = document.getElementById("chkProduct").checked;
               var chkService = document.getElementById("chkService").checked;
               var chkWon = document.getElementById("chkWon").checked;
               var chkLoss = document.getElementById("chkLoss").checked;
               var chkNogo = document.getElementById("chkNogo").checked;
               var chkPending = document.getElementById("chkPending").checked;

               if(chkProject == false){
                  hide_column_department =  hide_column_department.concat(columnProject);
               }
               if(chkProduct == false){
                  hide_column_department =  hide_column_department.concat(columnProduct);
               }
                if(chkService == false){
                  hide_column_department =  hide_column_department.concat(columnService);
               }
                if(chkWon == false){
                  hide_column_department =  hide_column_department.concat(columnWon);
               }
                if(chkLoss == false){
                  hide_column_department =  hide_column_department.concat(columnLoss);
               }
                if(chkNogo == false){
                  hide_column_department =  hide_column_department.concat(columnNogo);
               }
                if(chkPending == false){
                  hide_column_department =  hide_column_department.concat(columnPending);
               }

               // show column
               tableDepartment(temp_dataset_department);
        };
</script>
}
