@model WebForecastReport.Models.UserModel;
@{
    ViewData["Title"] = "Daily Report";
}
<div class="row p-4" style="row-gap:20px">
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Daily Reports</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row" style="row-gap:20px">
                        @if (Model.role == "Admin")
                        {
                            <div class="col-xl-3">
                                <select id="user_name" class="form-control">
                                    <option value="" selected disabled>Please Select User</option>
                                </select>
                            </div>
                        }
                        else
                        {
                            <div class="col-xl-3" hidden>
                                <select id="user_name" class="form-control">
                                    <option value="" selected disabled>Please Select User</option>
                                </select>
                            </div>
                        }
                        <div class="col-xl-1 d-flex align-items-center">
                            <span>Start Date</span>
                        </div>
                        <div class="col-xl-2">
                            <input id="start_date" type="date" class="form-control" />
                        </div>
                        <div class="col-xl-1 d-flex align-items-center">
                            <span>Stop Date</span>
                        </div>
                        <div class="col-xl-2">
                            <input id="stop_date" type="date" class="form-control" />
                        </div>
                        <div class="col-xl-1">
                            <button id="btn_load" type="button" class="btn btn-primary form-control elevation-1">
                                <i class="fas fa-sync"></i> Load
                            </button>
                        </div>
                        <div class="col-xl-1">
                            <button id="btn_print" type="button" class="btn btn-primary form-control elevation-1">
                                <i class="fas fa-print"></i> Print
                            </button>
                        </div>
                        <div class="col-xl-1">
                            <button id="btn_export" type="button" class="btn btn-success form-control elevation-1">
                                <i class="fas fa-file-excel"></i> Export
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <table id="table_activity" class="table table-sm compact table-bordered table-hover text-center w-100">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>Stop</th>
                                    <th>Activity</th>
                                    <th>Problem</th>
                                    <th>Solution</th>
                                    <th>Tomorrow Plan</th>
                                    <th>Note</th>
                                    <th>Action By</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_activity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" hidden>
                        <span>Index</span>
                        <input id="ind" type="text" class="form-control" disabled/>
                    </div>
                    <div class="form-group row" style="row-gap:20px">
                        <div class="col-xl-4">
                            <span>Date</span>
                            <input id="date" type="date" class="form-control" disabled/>
                        </div>
                        <div class="col-xl-4">
                            <span>Start</span>
                            <input id="start_time" type="time" class="form-control" disabled/>
                        </div>
                        <div class="col-xl-4">
                            <span>Stop</span>
                            <input id="stop_time" type="time" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <span>Activity</span>
                        <input id="activity" type="text" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <span>Problem</span>
                        <input id="problem" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span>Solution</span>
                        <input id="solution" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span>Tomorrow Plan</span>
                        <input id="tomorrow_plan" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span>Note</span>
                        <input id="note" type="text" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <span>Action By</span>
                        <input id="action_by" type="text" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <span>Customer</span>
                        <input id="customer" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var users;
        var drs = [];
        var table;
        var update = false;
        var debug_drs = false;

        $(document).ready(async function () {
            await GetUsers();
            GenerateUsers();
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth();
            var start_date = new Date(year, month, 2);
            var stop_date = new Date(year, month + 1, 1);
            $('#start_date').val(start_date.toISOString().split("T")[0]);
            $('#stop_date').val(stop_date.toISOString().split("T")[0]);
            $('#user_name').val('@Model.fullname.ToLower()');
            table = $('#table_activity').DataTable();
            EnablePrint();
            EnableExport();
        });

        async function GetUsers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "EngUser")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    users = response;
                }
            });
        }

        function GenerateUsers() {
            var user_string = '';
            for (var i = 0; i < users.length; i++) {
                user_string += `<option value="${users[i].user_name.toLowerCase()}">${users[i].user_name}</option>`;
            }
            $('#user_name').empty();
            $('#user_name').append(user_string);
        }

        $('#btn_load').on('click', async function () {
            var username = $('#user_name').val();
            var start_date = $('#start_date').val();
            var stop_date = $('#stop_date').val();
            await GetDailyActivities(username, start_date, stop_date);
            EnablePrint();
            EnableExport();
            GenerateTableActivity();
        });

        async function GetDailyActivities(user_name, start_date, stop_date) {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetDailyActivities", "DailyReport")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_name, start_date, stop_date },
                success: function (response) {
                    drs = response;
                }
            });
        }

        function EnablePrint() {
            if (drs.length > 0) {
                $('#btn_print').attr('disabled', false);
            } else {
                $('#btn_print').attr('disabled', true);
            }
        }

        function EnableExport() {
            if (drs.length > 0) {
                $('#btn_export').attr('disabled', false);
            } else {
                $('#btn_export').attr('disabled', true);
            }
        }

        function GenerateTableActivity() {
            var datas = [];

            for (var i = 0; i < drs.length; i++) {
                datas.push([
                    drs[i].ind,
                    drs[i].date.split("T")[0],
                    drs[i].start_time.substring(0,5),
                    drs[i].stop_time.substring(0,5),
                    drs[i].job_id + " " + drs[i].task_name,
                    drs[i].problem,
                    drs[i].solution,
                    drs[i].tomorrow_plan,
                    drs[i].note,
                    drs[i].user_id,
                    drs[i].customer
                ]);
            }

            if (table !== undefined) {
                table.destroy();
            }

            table = $('#table_activity').DataTable({
                lengthMenu: [[25,50,100,200], [25,50,100,200]],
                data: datas,
            });

            table.column(0).visible(false);
        }

        $('#table_activity').on('click', 'tr', function () {
            ViewActivity(table.row(this).data());
        });

        function ViewActivity(data) {
            var ind = data[0];
            var date = data[1];
            var start_time = data[2];
            var stop_time = data[3];
            var activity = data[4];
            var problem = data[5];
            var solution = data[6];
            var tomorrow_plan = data[7];
            var note = data[8];
            var action_by = data[9];
            var customer = data[10];
            $('#ind').val(ind);
            $('#date').val(date);
            $('#start_time').val(start_time);
            $('#stop_time').val(stop_time);
            $('#activity').val(activity);
            $('#problem').val(problem);
            $('#solution').val(solution);
            $('#tomorrow_plan').val(tomorrow_plan);
            $('#note').val(note);
            $('#action_by').val(action_by);
            $('#customer').val(customer);
            $('#modal_activity').modal();
        }

        $('#btn_save').on('click', async function () {
            var ind = $('#ind').val();
            var date = $('#date').val();
            var start_time = $('#start_time').val();
            var stop_time = $('#stop_time').val();
            var activity = $('#activity').val();
            var problem = $('#problem').val();
            var solution = $('#solution').val();
            var tomorrow_plan = $('#tomorrow_plan').val();
            var note = $('#note').val();
            var action_by = $('#action_by').val();
            var customer = $('#customer').val();
            var activity_string = JSON.stringify({
                "ind": ind,
                "date": date,
                "start_time": start_time,
                "stop_time": stop_time,
                "activity": "",
                "problem": problem,
                "solution": solution,
                "tomorrow_plan": tomorrow_plan,
                "note": note,
                "action_by": action_by,
                "customer": customer
            });
            await UpdateActivity(activity_string);
        });

        async function UpdateActivity(activity_string) {
            await $.ajax({
                type: "PATCH",
                url: '@Url.Action("UpdateActivity", "DailyReport")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { activity_string },
                success: async function (response) {
                    if (response === "Success") {
                        location.reload();
                    }
                    else {
                        alert(response);
                    }
                }
            });
        }

        $('#btn_print').on('click', function () {
            var url = '@Url.Action("FormDailyReport", "DailyReport")';
            window.location.href = url;
        });

        $('#btn_export').on('click', async function () {
            alert("This function is under development");
            @*var username = $('#user_name').val();
            var start_date = $('#start_date').val();
            var stop_date = $('#stop_date').val();
            await ExportAsExcel(username, start_date, stop_date);*@
        });

        async function ExportAsExcel(user_name, start_date, stop_date) {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("Export", "DailyReport")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_name, start_date, stop_date },
                success: function () {
                    window.location = '@Url.Action("Export", "DailyReport")';
                }
            });
        }

    </script>
}
